
[Unit]
Description=Timer for Monthly SSL Certificate Expiry Review

[Timer]
OnCalendar=*-*-01 03:30:00
Persistent=true
RandomizedDelaySec=15m
AccuracySec=1m

[Install]
WantedBy=timers.target
