
[Unit]
Description=Timer for Monthly Log Rotation & Cleanup

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true
RandomizedDelaySec=15m
AccuracySec=1m

[Install]
WantedBy=timers.target
